#background_img {
    /* Get the image */
    background-image: url("charlotte-austad-OlaWuOlX_OI-unsplash");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}