#background_img {
    /* Get the image */
    background-image: url("jackson-hendry-eodA_8CTOFo-unsplash.jpg");
    height: 100%;
    /* */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}